* {
    font-family: 'Jua', sans-serif;
}

    .titlecover {
        position: absolute;
        top: 151px;
        left: 550px;
        width: 400px;
        height: 80px;
        
    }

    .webtitle {
        border-radius: 30px;
        line-height: 20px;
        color: white;
        font-size: 20px;
        box-shadow: none;
        background-color: black;
        background-position: center;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .email {
        position: absolute;
        top: 255px;
        left: 600px;
        width: 300px;
        height: 40px;
    }

    .password {
        position: absolute;
        top: 312px;
        left: 600px;
        width: 300px;
        height: 40px;
    }

    .loginbox {
        position: absolute;
        top: 403px;
        left: 600px;
        width: 300px;
        height: 40px;
        font-size: 20px;
        color: white; 
        text-align: center;
        text-decoration: none; 
        background-color: black;
        background-position: center; 
        width: 300px; 
        height: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .checkbox {
        position: absolute;
        top: 364px;
        left: 595px;
        width: 20px;
        height: 20px;
    }

    .loginstatus {
        position: absolute;
        top: 364px;
        left: 630px;
        width: 260px;
        height: 20px;
    }

    .email_find {
        position: absolute;
        top: 474px;
        left: 700px;
        width: 160px;
        height: 20px;
        
        font-size: 16px; 
        text-align: center;
        text-decoration: none; 
        color: black; 
        background-color: white; 
        width: 100px; 
        height: 20px;
    }

    .signup {
        position: absolute;
        top: 474px;
        left: 480px;
        width: 160px;
        height: 20px;

        font-size: 16px; 
        text-align: center;
        text-decoration: none; 
        color: black; 
        background-color: white; 
        width: 100px; 
        height: 20px;
    }

    .password_find {
        position: absolute;
        top: 474px;
        left: 918px;
        width: 159px;
        height: 20px;

        font-size: 16px; 
        text-align: center;
        text-decoration: none; 
        color: black; 
        background-color: white; 
        width: 100px; 
        height: 20px;
    }
